/* Default styling section */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    user-select: none;
}

a:hover {
    color: rgb(255, 255, 0);
}

/* Body and other element styling section */
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

/* Header styling */
header {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 4rem;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.4);
    background: rgb(38, 142, 240);
}

h1 {
    padding: 0;
    margin: 0;
}

/* Logo styling */
.logo {
    user-select: none;
    text-decoration: none;
}

.color1 {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0 5px;
}

.color2 {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0 5px;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    text-align: center;
    padding: 1rem 2rem;
}

/* Active class toggled in javascript */
.active {
    color: rgb(255, 255, 0);
    font-size: 1.2rem;
    font-weight: 700;
}

/* Section styling */
section {
    position: relative;
    z-index: 1;
    background: red;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 165, 255);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23098cd9' fill-opacity='0.09'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");      
}

.app-container {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form-container {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    min-width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    animation: fadeIn 1s;
}

.hidden {
    display: none;
    animation: fadeOut 1s;
}

/* Current container title styling */
h2 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    color: rgb(255, 255, 0);
    text-transform: uppercase;
}

/* HR divider line styling */
hr {
    margin: 1rem 0 2rem 0;
    width: 100%;
    outline: none;
    color: rgb(255, 255, 0);
    background: rgb(255, 255, 0);
    border: 1px solid rgb(255, 255, 0);
}

/* Input form container styling */
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
    font-weight: 500;
}

input {
    padding: 5px 0;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255,255);
    font-weight: 200;
}

#confirm-password {
    margin: 0;
}

input:focus {
    border-bottom: 2px solid rgb(255, 255, 0);
}

input::placeholder {
    color: rgb(0, 0, 0);
}

.info-box {
    width: 100%;
    font-size: 1rem;
    border: 2px solid red;
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
}

.btn-container {
    width: 100%;
    text-align: center;
}

/* Button styling */
button {
    outline: none;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px 10px;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.1s ease;
    transform: scale(1);
    text-transform: uppercase;
}

button:hover {
    border: 2px solid rgb(255, 255, 0);
    color: rgb(255, 255, 0);
    /* transform: scale(1.1); */
}

button:active {
    transform: scale(0.8);
}
 
/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Media queries to display on mobile devices */

@media screen and (max-width: 700px) {
    body {
        overflow: hidden;
    }
    
    .logo-container {
        width: 100%;
        text-align: center;
    }

    h1 {
        margin: 10px 0;
        padding: 0;
    }

    /* Navigation styling */
    nav {
        width: 100%;
    }

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }

    li {
        padding: 5px;
    }

    .app-container {
        width: 95%;
        height: auto;
    }

    .user-form-container {
        width: 90%;
        height: auto;
    }
}